<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- The following set of ARGUMENTS are used by launch -->
  <xacro:arg name="robot_name" default="default"/>
  <xacro:arg name="system" default="none"/>

  <xacro:arg name="enable/camera/front" default="true"/>
  <xacro:arg name="camera/front/name" default="camera_front"/>

  <xacro:arg name="enable/imu/front" default="true"/>
  <xacro:arg name="imu/front/name" default="imu_front"/>

  <xacro:arg name="enable/tof/front" default="true"/>
  <xacro:arg name="tof/front/name" default="tof_front"/>

  <xacro:arg name="enable/leds" default="true"/>
  <xacro:arg name="leds/topic_prefix" default=""/>

  <!-- set of properties for internal use (not used by launch) -->
  <xacro:property name="namespace" default="$(arg robot_name)"/>
  <xacro:property name="root_frame" default="base_link" />
  <xacro:property name="ros2_gz_before_renamed" value="${['humble', 'jazzy', 'kilted']}"/>

  <xacro:include filename="$(find foxy_description)/urdf/base.xacro"/>

  <xacro:foxy_base root_frame="${root_frame}"/>

  <xacro:if value="$(arg enable/camera/front)">
    <xacro:include filename="$(find foxy_description)/sensors/rgb_camera_generic.xacro"/>
    <xacro:rgb_camera_generic name="$(arg camera/front/name)" parent_link="${root_frame}" namespace="${namespace}" system="${xacro.arg('system')}">
      <origin xyz="0.08938 0 0.07209" rpy="0.0 ${radians(16.1)} 0" />
    </xacro:rgb_camera_generic>
  </xacro:if>

  <xacro:if value="$(arg enable/imu/front)">
    <xacro:include filename="$(find foxy_description)/sensors/imu_generic.xacro"/>
    <xacro:imu_generic name="$(arg imu/front/name)" parent_link="${root_frame}" namespace="${namespace}" system="${xacro.arg('system')}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:imu_generic>
  </xacro:if>

  <xacro:if value="$(arg enable/tof/front)">
    <xacro:include filename="$(find foxy_description)/sensors/vl53l0x.xacro"/>
    <xacro:vl53l0x name="$(arg tof/front/name)" parent_link="${root_frame}" namespace="${namespace}" system="${xacro.arg('system')}" visualize="true">
      <origin xyz="0.10678 0 0.037" rpy="0 0 0" />
    </xacro:vl53l0x>
  </xacro:if>

  <xacro:if value="$(arg enable/leds)">
    <xacro:include filename="$(find foxy_description)/sensors/leds.xacro"/>
    <xacro:foxy_leds name="leds" parent_link="${root_frame}" system="${xacro.arg('system')}" topic_prefix="$(arg leds/topic_prefix)" xyz="0 0 0" rpy="0 0 0">
    </xacro:foxy_leds>
  </xacro:if>

  <xacro:if value="${xacro.arg('system') == 'gz' and '$(env ROS_DISTRO)' in ros2_gz_before_renamed}">
    <!-- the plugin was renamed to gz_ros2_control from Iron -->
    <ros2_control name="GazeboSimSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <gazebo>
      <!-- inserted at the top level of the <model> tag -->
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      </plugin>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <ros>
          <namespace>${namespace}</namespace>
        </ros>
        <parameters>$(find foxy_bringup)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:if value="${xacro.arg('system') == 'hw'}">
    <ros2_control name="FoxyMotorsHardware" type="system">
    <hardware>
      <plugin>foxy_hardware_interface/FoxyMotorsHardware</plugin>

      <param name="gpiochip_dev">/dev/gpiochip0</param>

      <param name="left_enc_a">232</param>
      <param name="left_enc_b">79</param>
      <param name="right_enc_a">76</param>
      <param name="right_enc_b">51</param>

      <param name="ticks_per_rev">135</param>
      <param name="debounce_us">0</param>

      <param name="invert_left_enc">false</param>
      <param name="invert_right_enc">false</param>

      <param name="max_wheel_rad_s">24.0</param> <!-- required calibration -->
      <param name="invert_left_motor">false</param>
      <param name="invert_right_motor">false</param> <!-- required calibration -->
      <param name="dead_zone">0.22</param>
    </hardware>

    <joint name="left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <ros2_control name="BatteryClient" type="system">
    <hardware>
      <plugin>foxy_hardware_interface/BatteryClientInterface</plugin>
      <param name="status_path">/run/foxy-battery-monitor/status</param>
      <param name="socket_path">/run/foxy-battery-monitor/control.sock</param>
      <param name="timeout_ms">1000</param>
      <param name="read_via_socket">false</param>
      <param name="fail_on_read_error">true</param>
      <param name="ping_on_activate">true</param>
    </hardware>

    <gpio name="battery">
      <state_interface name="online"/>
      <state_interface name="stale"/>
      <state_interface name="percent"/>
      <state_interface name="voltage_mv"/>
      <state_interface name="current_ma"/>
      <state_interface name="temperature_mc"/>
      <state_interface name="time_to_empty_min"/>
      <state_interface name="cycle_count"/>
      <state_interface name="usb_out_1_mv"/>
      <state_interface name="usb_out_2_mv"/>
      <state_interface name="charger_voltage_mv"/>
      <state_interface name="age_ms"/>
      <state_interface name="packet_count"/>
      <state_interface name="last_read_result"/>
      <state_interface name="last_command_result"/>
      <state_interface name="last_command_ok"/>
      <state_interface name="protocol_version"/>

      <!-- One-shot commands: write 0 -> 1 to trigger. -->
      <command_interface name="ping"/>
      <command_interface name="get"/>
      <command_interface name="version"/>
      <command_interface name="shutdown"/>
    </gpio>
  </ros2_control>


  </xacro:if>


</robot>
